.about {
  height: 100vh;
  background: #1c3c83;
}

.about__container {
  display: flex;
  align-items: center;
  height: 100vh;
}

.cart {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  background: radial-gradient(
    circle,
    rgba(28, 60, 131, 1) 0%,
    rgba(216, 58, 46, 1) 56%,
    rgba(135, 45, 143, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__photo {
  width: 480px;
  height: 480px;
  border-radius: 20px;
  object-fit: cover;
  transition: 0.3s ease;
}

.about__photo:hover {
  transform: scale(1.05);
}

.about__content {
  display: flex;
}

.about__article {
  margin-left: 100px;
  max-width: 500px;
}

.about__text {
  font-size: 16px;
  max-width: 450px;
}
