.header {
  position: absolute;
  right: 0;
  left: 0;
  padding: 20px;
  background: linear-gradient(
    90deg,
    rgba(28, 60, 131, 1) 0%,
    rgba(216, 58, 46, 1) 56%,
    rgba(135, 45, 143, 1) 100%
  );
  z-index: 80;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    background-position: 0px 1px, 250% 0px;
  }
}
